# =========================
# Postges
# =========================
POSTGRES_USER="admin"
POSTGRES_PASSWORD="1234"
POSTGRES_DB="ft_transcendence"


# =========================
# PgAdmin
# =========================
PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="1234"
