//listening port
PORT=

# Paste the new Sepolia contract address from Remix.
GYMTOKEN_ADDRESS=

FORWARDER_ADDRESS=

# Server-side Sepolia RPC URL.
SEPOLIA_RPC_URL=

# Server-side sponsor wallet key. This wallet needs Sepolia ETH for gas.
RELAYER_PRIVATE_KEY=