backend/node_modules
backend/dist
backend/.gitignore
.git
.gitignore

backend/.env
backend/.env.*

backend/.prettierrc

backned/Dockerfile
backned/.dockerignore
devops/docker-compose.yml

frontend/

*.log
npm-debug*.log

backend/test
backend/tests

.vscode
.idea

Makefile

README.md