# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# =========================
# Application
# =========================
NODE_ENV="development"
PORT="3000"


# =========================
# Database
# =========================
DATABASE_URL="postgresql://admin:1234@localhost:5432/ft_transcendence?schema=public"


# =========================
# JWT - OWNER ACCESS TOKEN
# =========================
JWT_OWNER_ACCESS_SECRET="8a3ba193ffd56ca7018cab475c56c2d400cffda5dbf2dc3e68573a62f138816c523ca9f3e9723f9fc95a6873bd39ad258178f4183b61de8b63e7aa8db3b0a873"
JWT_OWNER_ACCESS_EXPIRES_IN="15m"

# =========================
# JWT - OWNER REFRESH TOKEN
# =========================
JWT_OWNER_REFRESH_SECRET="5d0401e76c0be97c4830dfb150efb9f981e09d502515971999d4c6f1d5179d18cc5fda3ec497d75a741beb242bb9a7035cafb632dfca3b51dd52b120a5c5d407"
JWT_OWNER_REFRESH_EXPIRES_IN="30d"


# =========================
# JWT - ADMIN ACCESS TOKEN
# =========================
JWT_ADMIN_ACCESS_SECRET="869717a248847e89dcd76c99e9a911d33794c588201e1fab900d54703ebc92cbda642ff2cacf76d50a8df4c36e203915d132c48825dd909ea02c6e4d8e8f3894"
JWT_ADMIN_ACCESS_EXPIRES_IN="15m"

# =========================
# JWT - ADMIN REFRESH TOKEN
# =========================
JWT_ADMIN_REFRESH_SECRET="bc29c46a43027042cb70ac702883b5c0fb6c6baf4954cff9fddfff7c156d6bd9ed46a9cd5c0b16b350125f8d228f461aee0131a32fb04e95cff730d8245bd788"
JWT_ADMIN_REFRESH_EXPIRES_IN="30d"


# =========================
# JWT - MEMBER ACCESS TOKEN
# =========================
JWT_MEMBER_ACCESS_SECRET="5ccb7d656b813e14f469be1ab4cd4e1ec87899fe98d87e52ccb8c31c52d35a83a411af1c45182b72c2c8675e161c72ab82ef481d93cdf5ff311b696ae7a77f97"
JWT_MEMBER_ACCESS_EXPIRES_IN="15m"

# =========================
# JWT - MEMBER REFRESH TOKEN
# =========================
JWT_MEMBER_REFRESH_SECRET="f8c13aae13241f62bba07123c466a9d61c2b1caab1d498a2a38994782f5eab4f521f0016493777b32dbc08703aeeb1a0fd8a65abf537f68b0e0429c03b3a25d9"
JWT_MEMBER_REFRESH_EXPIRES_IN="30d"


# =========================
# OWNER - Email Verification Token
# =========================
JWT_OWNER_EMAIL_VERIFICATION_SECRET="e3691c2288ae0323481c723e5b780de3d3a51bb4d24c46de46bc8a2e14feabec022cf941ee1cb0445b6128808f5e3b592aa5a5eb7039cc86d0e01ca96543c426"
JWT_OWNER_EMAIL_VERIFICATION_EXPIRES_IN="1h"


# =========================
# ADMIN - Email Verification Token
# =========================
JWT_ADMIN_EMAIL_VERIFICATION_SECRET="bfc99fb2ea92c40525f2500dcadac69c5b27a344d083d158581d19eb869fc24846f5747f959d9f18bf970d95b28d3d0cb4316de1c69decf865cff439fe06962e"
JWT_ADMIN_EMAIL_VERIFICATION_EXPIRES_IN="1h"


# =========================
# MEMBER - Email Verification Token
# =========================
JWT_MEMBER_EMAIL_VERIFICATION_SECRET="e46ede32174304356784ac3b604cf324fe53fdd7961eff829fcc359af1aba64860d52257a09b2268537b14324fe5d4edfe60cf21260a86227eace36af2e06e76"
JWT_MEMBER_EMAIL_VERIFICATION_EXPIRES_IN="1h"


# =========================
# OWNER - Reset Password  Token
# =========================
JWT_OWNER_RESET_PASSWORD_SECRET="b08a20e11952e77c3a306f18f254374cc1dd39675c9ee1914ba25c4e2aee07fbe881add1b7df773b6fa1153e2e32bf55f8c47e79ad3fd39078ffd4d1babde04d"
JWT_OWNER_RESET_PASSWORD_EXPIRES_IN="15m"


# =========================
# ADMIN - Reset Password Token
# =========================
JWT_ADMIN_RESET_PASSWORD_SECRET="10431a629de9988894e4021cc9e5c262366b44431b3e1e64ab33b8284b3fcb32aef68177779ab7d90aac8894c9cf5feb0b41b74e04d0eaf8f88712fe255f2855"
JWT_ADMIN_RESET_PASSWORD_EXPIRES_IN="15m"


# =========================
# MEMBER - Reset Password Token
# =========================
JWT_MEMBER_RESET_PASSWORD_SECRET="4cec87e8c1fa58a1ca18b3a436da8df421299ee312c73a4313c4a5d08de43716cc45de035684b9c8d7d246641fd46a207f59970fca2484e1b6039f7dedc292c9"
JWT_MEMBER_RESET_PASSWORD_EXPIRES_IN="15m"


# =========================
# MEMBER - Set Password Token
# =========================
JWT_MEMBER_SET_PASSWORD_SECRET="4822ceed4a00d1603a2318e281a4d0dcad0a5cf3479d92ab13ae07d81001ba14aa4d1d843319cfff7f3b27f65fdc49d96a5155a6c1c44f3b545a022aee8b4322"
JWT_MEMBER_SET_PASSWORD_EXPIRES_IN="1d"


# =========================
# Cookie
# =========================
COOKIE_SECRET="f3a99836aea578df6e5e70abae7cb7684260f3679f4b824f9647c2fab1d5c873831d88f76b8c2e6971cc2b00e6b7111faf0df2765c45f4e5aa719ddf7ed05994"


# =========================
# Email
# =========================
RESEND_API_KEY="exmaple_re_HuxwZyFM_3e7t9ZM6hZRDKUtLB18SzRsX"
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USER="your_email@gmail.com"
MAIL_PASSWORD="your_email_password"


# =========================
# Frontend
# =========================
FRONTEND_URL="http://localhost:3000"
